
*
!/.gitignore

!/elap/
/elpap/*
!/controlli/
/controlli/*

!/elap/*.tex
!/elap/notestyle.sty
!/elap/img/
!/elap/img/*

!/controlli/*.tex
!/controlli/notestyle.sty
!/controlli/img/
!/controlli/img/*

